body {
    overflow-x: hidden;
}

.product-slider {
    .swiper-button-next,
    .swiper-button-prev {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        font-size: 10px;
        background-color: #fff;
        border: 1px solid #d4d7dd;
        color: black;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

        &:hover {
            transform: scale(1.5);
        }

        &::after {
            font-size: 15px;
        }
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        left: 20px;
    }
    .swiper-button-disabled {
        pointer-events: unset;
    }
}

.product-description,
.footer-menu {
    li {
        list-style: disc;
    }
    h1,h2,h3,h4,h5,h6 {
        @apply text-xl font-bold my-2;
    }
    ul {
        @apply ml-10;
    }
}

.cart-items-list {
    scrollbar-width: thin;
}

.blog-post {
    blockquote {
        @apply text-xl text-black text-center my-6 font-semibold relative;

        &::before {
            content: "``";
            @apply text-6xl absolute left-0;
        }
    }
}
